/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

p {
  margin: 0;
}
h2 {
  margin-bottom: 0;
}
.hid {
  display: none !important;
}
   body { height: 200vh; font-family: sans-serif;  touch-action: none;}



@font-face {
    font-family: R-saesgrotesk;
    src: url(../src/fonts/saesgrotesk-regular.ttf)
}

@font-face {
    font-family: R-Jaro;
    src: url(../src/fonts/Jaro_9pt-Regular.ttf)
}
@font-face {
    font-family: M-inter;
    src: url(../src/fonts/Inter_18pt-Medium.ttf)
}
@font-face {
    font-family: R-Jersey10;
    src: url(../src/fonts/Jersey10-Regular.ttf)
}
@font-face {
    font-family: R-ZenDots;
    src: url(../src/fonts/ZenDots-Regular.ttf)
}
@font-face {
    font-family: R-Hiragino;
    src: url(../src/fonts/Hiragino\ Maru\ Gothic\ ProN\ W4.otf)
}

.R-saesgrotesk{
    font-family:  R-saesgrotesk;
}
